* {
    font-family: Sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a,
li {
    text-decoration: none;
}

a {
    color: black;
}

.nav-wrap {
    display: inline-block;
    padding: 20px;
    font-family: "Roboto";
    font-size: 1.125em;
    background-color: black;
    width: 100%;
    opacity: .7;

}

nav {
    float: right;

}

nav a {
    margin: 0 10px;

}

.nav-item {
    color: white;

}


.nav-item:hover {
    color: yellow;
    border-bottom: solid 2px yellow;
}

.nav-item:active {
    color: yellow;
    border-bottom: solid 2px yellow;
}

.logo {
    float: right;
}

.banner {
    background-image: url("edgar-chaparro-669210-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.title-cont h1 {
    font-size: 4em;
    margin: 0 auto;
    font-family: "Roboto Slab";
}

.main-title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.em {
    font-style: normal;
    color: yellow;
    font-family: "Roboto";
}

.title-cont {
    background-color: black;
    padding: 20px;
    opacity: .7;
}

.main-cta,
.main-wod {
    padding: 10px 40px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, .4);
}

.main-cta {
    background-color: yellow;

}


/*--- Classes ---*/

section {
    margin: 0 auto;
    height: 400px;
    background-color: white;
}

.banner-classes {}

.parallax-cont {
    background-image: url("edgar-chaparro-669210-unsplash.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}

.parallax-cont-1 {
    background-image: url("ahmed-rizkhaan-273537-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}
