* {
    font-family: "Roboto";
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 0;
}

body,
html {
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0px;
}

nav {
    padding-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-head span {
    text-transform: uppercase;
    margin: auto 0;
    font-size: 1.5rem;
}

nav li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-size: .75rem;
}

.banner {
    background-image: url("PublicGoods_Bathroom_0960.jpg");
    background-repeat: no-repeat;
    background-position: 80% 60%;
    background-size: cover;
    padding: 30px 30px 50px 30px;
    width: 100%;
    margin: 0;

}

button {
    height: 60px;
    width: 200px;
}



/*--- Section One ---*/

.content-1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
}

.content-1 h2 {
    font-size: 2.25rem;
    line-height: 40px;
}

.content-1 p {
    font-size: 1.125rem;
    line-height: 26px;
}

.btn-1 {
    margin-top: 20px;
    background-color: white;
    box-shadow: none;
    border: none;
}

/*--- Section Two ---*/

.content-2 button {
    margin: 0 auto;

}

.content-2 h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 60px;
}

.btn-2 {
    margin-top: 20px;
    background-color: dimgray;
    color: white;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.flex-item h4 {
    font-size: 1.125rem;
}

.flex-item p {
    font-size: 1.125rem;
    line-height: 26px;
}

/*--- Section Three ---*/

.content-3 {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
}

.content-3 h3 {
    font-size: 1.5rem;
}

.content-3 h2 {
    font-size: 2.25rem;
    line-height: 40px;
}

.content-3 p {
    font-size: 1.125rem;
    line-height: 26px;
}

.btn-3 {
    margin-top: 20px;
    background-color: dimgray;
    color: white;
}

.banner-2 {
    background-image: url("PublicGoods_Laydown_0443.jpg");
    background-repeat: no-repeat;
    background-position: 90% 65%;
    background-size: fill;
    padding: 30px 30px 50px 30px;
    width: 100%;
    margin-top: 60px;

}


/*--- Section Four ---*/

.shop h3 {
    font-size: 1.5rem;
    margin-top: 60px;
}

.shop h3 {
    text-align: center;
}

.shop-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;

}

.shop-img {
    background-image: url("Toothpaste%20Product.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    padding: 30px;
}

.shop-item p {
    width: 100%;
    text-align: flex-start;
    text-transform: capitalize;
}

.shop-item {
    width: 20%;
    text-align: center;
    margin: 0 10px;
    list-style: none;
}

/*--- Footer ---*/

footer {
    width: 100%;
    background-color: black;
}

form {
    padding-top: 20px;
}

label {
    color: white;
    font-size: 0.625rem;
}

input {
    padding: 5px;
    margin-top: 10px;
    border: solid 2px white;
    color: white;
    background-color: black;
    font-size: 0.625rem;
    width: 30%;
}

.subscribe {
    width: 100px;
    color: black;
    background-color: white;
}

.sign {
    color: white;
    font-size: .625rem;
    width: 30%;
    line-height: 12px;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    padding: 20px 0;
}

.bottom-nav ul {
    margin: 0px;
    padding: 0px;
}

.bottom-nav li {
    display: inline-block;
    color: white;
    padding: 0px;
    margin: 0px 40px 0px 0px;
    font-size: .625rem;
}


.copyright {
    color: white;
    font-size: .625rem;
}
