* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 18px;
}

html {
    background-color: hsl(214, 64%, 98%);
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.outer {
    position: absolute;
    overflow: hidden;
    height: 200vh;
    width: 100vw;
    top: -10vh;
}

.bgShape1 {
    width: 850px;
    height: 650px;
    border-radius: 50px;
    background-image: linear-gradient(to right, hsl(322, 100%, 66%), hsl(265, 100%, 66%));
    transform: rotate(40deg);
    position: absolute;
    left: 65vw;
    top: -15vh;
    z-index: -100;
    margin: 0;
    padding: 0;
}

.outer2 {
    position: absolute;
    overflow: hidden;
    height: 200vh;
    width: 100vw;
    top: -10vh;
}

.bgShape2 {
    width: 1000px;
    height: 500px;
    border-radius: 50px;
    background-color: white;
    transform: rotate(-20deg);
    position: absolute;
    left: 10vw;
    top: 30vh;
    z-index: -200;
    margin: 0;
    padding: 0;
}

.mainNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    background-image: url();
}

.mainNav a {
    padding: 10px 45px;
    color: hsl(322, 100%, 66%);
    background-color: hsl(214, 64%, 98%);
    line-height: 50px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0,0,0, .5);
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.heroImg {
    width: 100%;
    height: 50vh;
    background-image: url("/Images/illustration-mockups.svg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

.heroImg, .mainLine, .subLine, .ctaBtn {
    margin: 0 auto;
}

.mainLine {
    font-family: "Poppins";
    font-size: 2rem;
}

.subLine, .mainLine {
    text-align: center;
    width: 70%;
}
.ctaBtn {
    padding: 10px 25px;
    line-height: 50px;
    text-align: center;
    margin: 20px auto;
    background-color:  hsl(322, 100%, 66%);
    color: white !important;
    border: none;
}

.userSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.userImg, .userText {
    width: 45%;
}

.userText1 {
    margin-top: 20px;
}

.userText1 h3 {
    font-family: "Poppins";
    font-size: 1.25rem;
}

.call-to-action {
    width: 60%;
    margin: 60px auto;
    padding: 80px 40px;
    text-align: center;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0,0,0, .5);
}

.cta h2 {
    font-family: "Poppins";
    font-size: 1.5rem;
}

.ctaBtn2 {
    padding: 10px 25px;
    line-height: 50px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    margin-top: 20px;
}

@media (max-width: 800px){
    .wrapper {
        width: 90%;
    }

    .subLine, .mainLine {
        text-align: center;
        width: 100%;
    }

    .userSection {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        
    }

    .userImg {
        width: 100%;
        margin: 0 auto;
        height: 400px;
        border: 1px solid black;
        margin-top: 40px;
    }

    .userText {
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .call-to-action {
        width: 100%;
    }

}
